[submodule "vim/plugins/vim-sensible"]
	path = vim/plugins/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/plugins/vim-ruby"]
	path = vim/plugins/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/plugins/vim-javascript"]
	path = vim/plugins/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/plugins/typescript-vim"]
	path = vim/plugins/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/plugins/groovy.vim"]
	path = vim/plugins/groovy.vim
	url = https://github.com/vim-scripts/groovy.vim.git
[submodule "vim/plugins/vim-fugitive"]
	path = vim/plugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/plugins/vim-rhubarb"]
	path = vim/plugins/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "vim/plugins/vim-unimpaired"]
	path = vim/plugins/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/plugins/vim-commentary"]
	path = vim/plugins/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/plugins/vim-autoformat"]
	path = vim/plugins/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
[submodule "vim/plugins/vim-obsession"]
	path = vim/plugins/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "vim/plugins/fzf.vim"]
	path = vim/plugins/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/plugins/vim-markdown"]
	path = vim/plugins/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/plugins/ack.vim"]
	path = vim/plugins/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/plugins/fzf"]
	path = vim/plugins/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/plugins/coc.nvim"]
	path = vim/plugins/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "vim/plugins/fzf-project"]
	path = vim/plugins/fzf-project
	url = https://github.com/benwainwright/fzf-project.git
[submodule "vim/plugins/vim-prettier"]
	path = vim/plugins/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule "vim/plugins/papercolor-theme"]
	path = vim/plugins/papercolor-theme
	url = git@github.com:NLKNguyen/papercolor-theme.git
[submodule "vim/plugins/vim-gotham"]
	path = vim/plugins/vim-gotham
	url = git@github.com:whatyouhide/vim-gotham.git
[submodule "vim/plugins/markdown-preview.nvim"]
	path = vim/plugins/markdown-preview.nvim
	url = git@github.com:iamcco/markdown-preview.nvim.git
[submodule "vim/plugins/ale"]
	path = vim/plugins/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "vim/plugins/glow.nvim"]
	path = vim/plugins/glow.nvim
	url = git@github.com:ellisonleao/glow.nvim.git
[submodule "vim/plugins/splitjoin.vim"]
	path = vim/plugins/splitjoin.vim
	url = git@github.com:AndrewRadev/splitjoin.vim.git
[submodule "vim/plugins/copilot.vim"]
	path = vim/plugins/copilot.vim
	url = git@github.com:github/copilot.vim.git
[submodule "vim/plugins/nvim-tree.lua"]
	path = vim/plugins/nvim-tree.lua
	url = git@github.com:kyazdani42/nvim-tree.lua.git
[submodule "vim/plugins/nvim-web-devicons"]
	path = vim/plugins/nvim-web-devicons
	url = git@github.com:kyazdani42/nvim-web-devicons.git
[submodule "vim/plugins/coc-tabnine"]
	path = vim/plugins/coc-tabnine
	url = git@github.com:neoclide/coc-tabnine.git
[submodule "vim/plugins/oceanic-next"]
	path = vim/plugins/oceanic-next
	url = git@github.com:mhartington/oceanic-next.git
[submodule "vim/plugins/yats.vim"]
	path = vim/plugins/yats.vim
	url = git@github.com:HerringtonDarkholme/yats.vim.git
[submodule "vim/plugins/everforest"]
	path = vim/plugins/everforest
	url = git@github.com:sainnhe/everforest.git
[submodule "vim/plugins/vim-svelte"]
	path = vim/plugins/vim-svelte
	url = git@github.com:evanleck/vim-svelte.git
[submodule "vim/plugins/html5.vim"]
	path = vim/plugins/html5.vim
	url = git@github.com:othree/html5.vim.git
[submodule "vim/plugins/vim-terraform"]
	path = vim/plugins/vim-terraform
	url = git@github.com:hashivim/vim-terraform.git
[submodule "vim/plugins/vim-visual-multi"]
	path = vim/plugins/vim-visual-multi
	url = git@github.com:mg979/vim-visual-multi.git
