[submodule "vim/plugins/ack.vim"]
	path = vim/plugins/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/plugins/vim-prettier"]
	path = vim/plugins/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
